<h1>Showing Articles details</h1>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<p>
    <%= link_to 'Edit article' , edit_article_path %>
</p>

<p>
    <%= link_to 'Show all article' , articles_path %>
</p>